<div class="content">
  <div class="find">
    <h1>Перевірка Номера Авто</h1>
    <form [formGroup]="form" (submit)="check()">
      <label for="num">Номер авто
        <input name="num" type="text" placeholder="AA1234BB" formControlName="num" (input)="filter($event)">
      </label>
      <div class="error-message">
        <span *ngIf="errorMessage">{{errorMessage}}</span>
      </div>
      <button type="submit" [disabled]="form.invalid || isBlocked">Перевірити</button>
    </form>
  </div>

  <div class="result">
    <table *ngIf="carData">
      <tr>
        <th>Тип кузова:</th>
        <td>{{carData.body}}</td>
      </tr>
      <tr>
        <th>Колір:</th>
        <td>{{carData.color}}</td>
      </tr>
      <tr>
        <th>Дата реєстрації:</th>
        <td>{{carData.date}}</td>
      </tr>
      <tr>
        <th>Тип транспорту:</th>
        <td>{{carData.kind}}</td>
      </tr>
      <tr>
        <th>модель транспорту:</th>
        <td>{{carData.model}}</td>
      </tr>
      <tr>
        <th>Реєстрація:</th>
        <td>{{carData.registration}}</td>
      </tr>

      <tr>
        <th>Рік випуску:</th>
        <td>{{carData.year}}</td>
      </tr>

    </table>
  </div>

</div>
